<form (ngSubmit)="onSavePost(f)" #f="ngForm">
  <mat-card>
    <mat-form-field>
      <input
        type="text" name="title" id="title" matInput required ngModel #title="ngModel"
        placeholder="Post Title">
      <mat-error *ngIf="title.invalid && title.touched">You cannot have an empty post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput ngModel name="content" id="content" rows="6" required #content="ngModel"
        placeholder="Post Content"></textarea>
      <mat-error *ngIf="content.invalid && content.touched">You cannot have an empty post content</mat-error>
    </mat-form-field>
    <button [disabled]="!f.valid" color="accent" mat-raised-button type="submit">Save Post</button>
  </mat-card>
</form>

