<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts; let i=index">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <p>{{post.content}}</p>
    <mat-action-row>
      <button type="button" mat-button (click)="onEdit(post.id, i)" color="primary">EDIT</button>
      <button type="button" mat-button (click)="onDelete(post.id, i)" color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1 info-text" *ngIf="posts.length == 0">No posts added yet!</p>
